<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>twitter.Status</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Get</servlet-name>
        <servlet-class>twitter.Get</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>twitter.Check</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>twitter.Page</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test1</servlet-name>
        <servlet-class>twitter.Test1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test1</servlet-name>
        <url-pattern>/test1/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test2</servlet-name>
        <servlet-class>twitter.Test2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test2</servlet-name>
        <url-pattern>/test2/*</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>GetLengthFilter</filter-name>
        <filter-class>twitter.GetLengthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GetLengthFilter</filter-name>
        <url-pattern>/get</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>TimeMeasurement</filter-name>
        <filter-class>twitter.TimeMeasurementFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TimeMeasurement</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>
